<nav>
  <a [routerLink]="['/']"><button md-button color="accent" class="home-button">HOME</button></a>
  <a [routerLink]="['/about']"><button md-button color="accent" class="about-button">ABOUT</button></a>
  <a [routerLink]="['/user']"><button md-button color="accent" class="user-button">USERS</button></a>
</nav>
