<div *ngIf='user'>
    <button (click)="goBack()">Back</button>

    <user-form  *ngIf="editable" #userForm
      [user]="userModel"
      [editable]="editable"
      [primaryActionText] = "'Save'"
      [secondaryActionText] = "'Cancel'"
      [clearActionText] = "'Reset'"
      (onPrimaryClick) = "save($event)"
      (onSecondaryClick) = "cancelEdit()"
      (onResetClick) = "reset(userForm)"
    >
    </user-form>

    <user-form *ngIf="!editable" 
      [user]="userModel"
      [editable]="editable"
      [primaryActionText] = "'Edit'"
      [secondaryActionText] = "'Delete'"
      [clearActionText] = "'Clear'"
      (onPrimaryClick) = "enableEdit()"
      (onSecondaryClick) = "delete($event)"
    >
    </user-form>
</div>
