<p>User List</p>
<button md-fab class="top-right-action--button" *ngIf="!displayAddUser" (click)="showAddUser()">
    <md-icon>add</md-icon>
</button>

<button md-fab class="top-right-action--button" *ngIf="displayAddUser" (click)="hideAddUser()">
    <md-icon>close</md-icon>
</button>

<div class="clearfix"></div>

<div *ngIf="displayAddUser">
    <user-form #userForm
    [user]="newUser"
    [editable]="true"
    [primaryActionText] = "'Add'"
    [secondaryActionText] = "'Cancel'"
    (onPrimaryClick) = "addUser($event, userForm)"
    (onSecondaryClick) = "cancel(userForm)"
    [resetButton] = "true"
    (onResetClick) = "reset(userForm)"
    >
    </user-form>
</div>
<md-card>
<md-list>
    <md-list-item *ngFor="let user of userList">
    <h3 md-line>{{user.name}}</h3>
    <button (click)="goToDetail(user)">Details</button>
    </md-list-item>
</md-list>
</md-card>
