<div *ngIf="editable">
  <form *ngIf="active" (ngSubmit)="onPrimaryAction()" #userForm="ngForm">

  <md-card>
      <md-card-title>Create a profile</md-card-title>
      <md-card-content>
        <div class="form-group">
          <md-input
          required
                class="md-input"
                placeholder="Name"
                [(ngModel)]="user.name"
                name="name"
                #name="ngModel"
          >
          </md-input>
        </div>
        <div class="form-group">
          <md-input
            required
                class="md-input"
                placeholder="Email"
                [(ngModel)]="user.email"
                name="email"
                #email="ngModel"
          >
          </md-input>
        </div>
        <div class="form-group">
        <md-input
            required
            class="md-input"
            placeholder="Experience"
            [(ngModel)]="user.experience"
            name="experience"
            #experience="ngModel"
        >
        </md-input>
        </div>

        <div class="form-group">
        <label for="role">Role</label>
        <select
            required
            class="md-select"
            [(ngModel)]="user.role"
            name="role"    #role="ngModel"
        >
            <option *ngFor="let role of roles" [value]="role.id">{{role.description}}</option>
        </select>
        <div [hidden]="role.valid || role.pristine" class="alert alert-danger">Role is required</div>
        </div>

  </md-card-content>
  <div>
    <md-card-actions class="card-action--left" align="start">
        <button md-raised-button type="button" color="accent" (click)="onResetAction($event)">Reset</button>
    </md-card-actions>
    <md-card-actions class="card-action--right" align="end">
        <button md-raised-button type="button" color="accent" (click)="onSecondaryAction($event)">{{ secondaryActionText }}</button>
        <button md-raised-button type="submit" color="primary" [disabled]="!userForm.form.valid">{{ primaryActionText }}</button>
    </md-card-actions>
  </div>
  <div class="clearfix"></div>
    </md-card>
  </form>
</div>

<div *ngIf="!editable">
    <div>
        {{user.name}}
    </div>
    <div>
        {{user.email}}
    </div>
    <div>
        {{user.experience}}
    </div>
    <div>
        {{user.role}}
    </div>

    <button type="button" class="btn btn-default" (click)="onSecondaryAction()">{{ secondaryActionText }}</button>
    <button type="button" class="btn btn-default" (click)="onPrimaryAction()">{{ primaryActionText }}</button>
</div>